# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
client/dist/
client/dist-ssr/
server/dist/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
client/.env
server/.env

# SQLite database files
server/prisma/*.db
server/prisma/*.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor configurations
.vscode/
.idea/
.DS_Store
